/* screen - admin-password-entered */

.admin-password-entered {
  align-items: flex-start;
  background-image: url(../img/image-18-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  height: 1260px;
  min-width: 2520px;
  padding: 416px 1052px;
}

.admin-password-entered .frame-14 {
  border: 1px none;
  height: 51px;
  width: 236px;
}

.admin-password-entered .frame-13 {
  border: 1px none;
  height: 64px;
  margin-left: 25px;
  margin-top: 190px;
  width: 148px;
}
