/* screen - admin-enter-password */

.admin-enter-password {
  align-items: flex-start;
  background-image: url(../img/image-17-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 1260px;
  padding: 414px 1054px;
  width: 2520px;
}

.admin-enter-password .frame-11 {
  border: 1px none;
  height: 52px;
  width: 229px;
}

.admin-enter-password .frame-10 {
  border: 1px none;
  height: 95px;
  margin-left: 2px;
  margin-top: 6px;
  width: 392px;
}
